<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div id="sidebar">
    <ul>
        <li><a href="/Introduction.html">Introduction</a></li>
        <li><a href="/Installation.html">Installation</a></li>
        <li><a href="/Usages.html">Usages</a></li>
        <li>Example
            <ul>
                <li><a href="/example/Target-vs-Reference-Painting.html">Target-vs-Reference Painting</a></li>
                <li><a href="/example/Reference-vs-Reference-Painting.html">Reference-vs-Reference Painting</a></li>
                <li><a href="/example/All-vs-All-Painting.html">All-vs-All Painting</a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="content">
    {{ content }}
</div>

</body>
</html>
