<!DOCTYPE html>
<html>
<head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

<div id="sidebar">
    <ul>
        <li><a href="/">Introduction</a></li>
        <li><a href="/usages.html">Installation</a></li>
        <li><a href="/usages.html">Usages</a></li>
        <li>Example
            <ul>
                <li><a href="/example/Target-vs-Reference-Painting.html">Ex1</a></li>
                <li><a href="/example/Reference-vs-Reference-Painting.html">Ex2</a></li>
                <li><a href="/example/All-vs-All-Painting.html">Ex3</a></li>
            </ul>
        </li>
    </ul>
</div>

<div id="content">
    {{ content }}
</div>

</body>
</html>
